<button id="{{ id|default('') }}" type="submit" class="
    text-center
    transition-all duration-200 ease-in-out
    bg-gradient-to-b from-indigo-400 to-indigo-600 hover:bg-indigo-700
    inset-shadow-indigo-300 hover:inset-shadow-indigo-500
    inset-shadow-sm shadow-md hover:shadow-xs
    text-white hover:text-gray-200
    border border-indigo-500 hover:border-indigo-700
    rounded-sm
    py-1 px-6 min-w-18
    active:bg-none active:bg-indigo-800
    active:inset-shadow-indigo-950
    active:text-gray-400
    active:border-indigo-700

">{{ label|default('click') }}</button>
