<!DOCTYPE html>
<html>
    <head>
        {{ head|raw }}
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    </head>
    <body class="manage relative min-h-screen bg-gray-100 flex items-stretch {{ body_class|raw }}">
        {% include 'nav/sidebar.twig' %}
        <div class="w-full py-12 px-2 sm:px-6 lg:px-8">
            <main class="h-full">
                {{ view|raw }}
            </main>
            <footer class="fixed bottom-0 left-0 right-0 w-full flex justify-end gap-4 py-1 px-4">
                <a href="?logout" class="
                    text-center text-white hover:text-gray-200
                    bg-slate-500 hover:bg-slate-600
                    inset-shadow-gray-400 hover:inset-shadow-gray-500
                    inset-shadow-sm shadow-md hover:shadow-xs
                    py-0 px-2 rounded-sm
                    transition-all duration-200 ease-in-out
                ">Logout</a>
            </footer>
        </div>
    </body>
</html>
