<li><a href="{{ '/manage' ~ href }}" class="
    block
    bg-white hover:bg-gray-100
    px-2 py-1
    rounded-xs
    transition-all duration-100 ease-in-out
    {{ class|default('') }}"
    data-trigger="{{ trigger|default('') }}"
>{{ text }}</a></li>
