<aside class="
    w-72 h-screen p-4 px-6
    sticky top-0
    bg-white shadow-md
    text-gray-800
    border-r border-gray-200
">
    <nav>
        <ul class="space-y-2" data-instance="main">
            {% include 'nav/item.twig' with { trigger: 'pages', href: '', class: 'js-trigger', text: 'Pages' } %}
        </ul>
        <ul class="space-y-2 hidden" data-instance="pages">
            <li data-back class="text-sm">Back</li>
            {% include 'nav/item.twig' with { href: '', text: 'Homepage' } %}
            {% include 'nav/item.twig' with { href: '/about', text: 'About' } %}
            {% include 'nav/item.twig' with { href: '/contact', text: 'Contact' } %}
        </ul>
    </nav>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const links = document.querySelectorAll('.js-trigger');
            links.forEach(link => {
                link.addEventListener('click', e => {
                    e.preventDefault();
                    const instance = e.target.dataset.trigger;
                    const nav = document.querySelector(`[data-instance="${instance}"]`);
                    const navs = document.querySelectorAll('[data-instance]');
                    navs.forEach(n => n.classList.add('hidden'));
                    nav.classList.remove('hidden');
                });
            });

            const backButtons = document.querySelectorAll('[data-back]');
            backButtons.forEach(backButton => {
                backButton.addEventListener('click', e => {
                    const navs = document.querySelectorAll('[data-instance]');
                    navs.forEach(n => n.classList.add('hidden'));
                    document.querySelector('[data-instance="main"]').classList.remove('hidden');
                });
            });
        });
    </script>
</aside>
