<form class="w-full mx-auto max-w-lg" method="post">
    <h1 class="text-2xl font-bold mb-4">
        Login
    </h1>
    <input type="text" name="username" placeholder="Username" class="border-2 border-gray-300 p-2 w-full mb-2">
    <input type="password" name="password" placeholder="Password" class="border-2 border-gray-300 p-2 w-full mb-2">
    <button type="submit" class="bg-blue-500 text-white p-2 w-full">Login</button>
</form>
